{% extends 'base.html' %}
{% block content %}
<h2>{{ quiz.title }}</h2>
<form method="POST">
    {% for question in questions %}
        <p>{{ question.text }}</p>
        <input type="radio" name="question_{{ question.id }}" value="A"> {{ question.option_a }} <br>
        <input type="radio" name="question_{{ question.id }}" value="B"> {{ question.option_b }} <br>
        <input type="radio" name="question_{{ question.id }}" value="C"> {{ question.option_c }} <br>
        <input type="radio" name="question_{{ question.id }}" value="D"> {{ question.option_d }} <br>
    {% endfor %}
    <button type="submit">Submit</button>
</form>
{% endblock %}
