{% extends 'base.html' %}
{% block content %}
<h2>Create a New Quiz</h2>
<form method="POST">
    <label>Title:</label>
    <input type="text" class="form-control" name="title" required>
    <label>Date:</label>
    <input type="date" name="date" required>
    <label>Duration:</label>
    <input type="text" name="duration" required>
    <label>Chapter:</label>
    <select name="chapter_id">
        {% for chapter in chapters %}
            <option value="{{ chapter.id }}">{{ chapter.name }}</option>
        {% endfor %}
    </select>
<label>Subject:</label>
<select name="subject_id">
        {% for subject in subjects %}
            <option value="{{ subject.id }}">{{ subject.name }}</option>
        {% endfor %}
    </select>

    <button type="submit">Create Quiz</button>
</form>
{% endblock %}
